*.pyc
Simulator/plotOutput/*
Simulator/output.pdf
Maya_project/Irishsat_Simulator/images/
Maya_project/Irishsat_Simulator/cache/
Maya_project/Irishsat_Simulator/autosave/
.mayaSwatches/
*.swatches
*.log
*.tmp
*.bak
*.tx
*.ass
*.melException
*.crash